*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  appearance: none;
  background: #000;

  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
