* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  height: 100vh;
  width: 100%;

  background: rgb(232,205,247);
  background: linear-gradient(180deg, rgba(232,205,247,0.7511379551820728) 17%, rgba(111,191,217,0.7707457983193278) 100%);
  overflow: hidden;
  margin: 0 auto;
  
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

#datetime-picker {
  box-sizing: border-box;
  font-size: large;
  font-weight: bold;
  font-size: large;
}

button {
 font-size: large;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-top: 20px;
}

.value {
  font-size: xxx-large;
}

.label {
  font-weight: bold;
  text-transform: uppercase;
}

.timer {
  display: flex;
  margin: 0;
  width: 100%;
}

.time-wrapper {
  display: flex;
  flex-direction: column;
}

.buttons {
  gap: 30px;
}

.buttons button {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
}

